
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1  *ngIf="!isFetching && !error" class="display-2 text-white">{{project.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <form (ngSubmit)="onEditName()" #formEditNameProject="ngForm">
          <div class="input-group input-group-alternative">
            <input
              class="form-control"
              placeholder="New Name"
              name="name"
              type="text"
              ngModel
              required
              >
          </div>
          <button class="btn btn-info" type="submit">Edit Project</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <a (click)="open(classic1, 'modal_mini', 'sm')" >
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-plus fa-align-center"></i>
                  <div class="col-md-4">
                    <ng-template #classic1 let-modal let-c="close" let-d="dismiss" >
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                              <div class="text-center text-muted mb-4">
                                <small>Enter User's Id</small>
                              </div>
                              <form (ngSubmit)="onAddUser(AddUserForm)" #AddUserForm="ngForm" >
                                <div class="form-group mb-3">
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      placeholder="Id"
                                      type="number"
                                      ngModel
                                      name="userId"
                                      required
                                      #id="ngModel">
                                  </div>
                                  <span class="text-sm" *ngIf="!id.valid && id.touched">Please enter User's Id!</span>
                                </div>
                                <div class="text-center">
                                  <button
                                    type="submit"
                                    class="btn btn-primary my-4"
                                    [disabled]="!AddUserForm.valid && !error">
                                    Add User to Project
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
              </div>
            </a>

            <div class="col-8">
              <h3 class="mb-0">Add User</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Bugs</th>
                <th scope="col">Status</th>
                <th scope="col">Delete Bug</th>
              </tr>
            </thead>
            <p *ngIf="isFetching && !error">
              Loading...
            </p>
            <div class="alert alert-danger" *ngIf="error">
              <h2 >An error Occurred getting a Project!</h2>
              <p>{{error}}</p>
              <button class="btn btn-danger" (click)="onHandleError()">OK</button>
            </div>
            <tbody  *ngIf="!isFetching && project.bugs.length >=1">
              <tr *ngFor="let bug of project.bugs">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ bug.name }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span *ngIf="bug.state == 1 " class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Bug Fixed
                  </span>
                  <span *ngIf="bug.state > 1" class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Bug Active
                  </span>
                </td>
                <td class="text-right">
                  <a class="icon rounded-circle" (click)="open(classic2, 'Notification', '')">
                    <i class="fas fas fa-minus-circle"></i>
                    <div class="col-md-4">
                      <ng-template #classic2 let-c="close" let-d="dismiss">
                        <div class="modal-content bg-gradient-danger">
                          <div class="modal-header">
                            <h6 class="modal-title" >Your attention is required</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="py-3 text-center">
                              <i class="ni ni-bell-55 ni-3x"></i>
                              <h4 class="heading mt-4">You should read this!</h4>
                              <p>You are about to delete a bug permanently, please confirm this action</p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDeleteBug(project.id, bug.id)">Ok, delete it</button>
                            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
              </div>

            <hr class="my-4" />
            <!-- Users -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Users</th>
                <th scope="col">Role</th>
                <th scope="col">Disassociate</th>
              </tr>
            </thead>
              <tbody *ngIf="!isFetching && project.users.length >=1">
                <tr *ngFor="let user of project.users">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                      </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ user.firstName }}</span>
                    </div>
                    </div>
                  </th>
                  <td>
                    {{ user.role }}
                  </td>
                  <td class="text-right">
                    <a class="icon rounded-circle" (click)="open(classic2, 'Notification', '')">
                      <i class="fas fas fa-minus-circle"></i>
                      <div class="col-md-4">
                        <ng-template #classic2 let-c="close" let-d="dismiss">
                          <div class="modal-content bg-gradient-danger">
                            <div class="modal-header">
                              <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="py-3 text-center">
                                <i class="ni ni-bell-55 ni-3x"></i>
                                <h4 class="heading mt-4">You should read this!</h4>
                                <p>You are about to delete a user permanently, please confirm this action</p>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDeleteUser(project.id, user.id)">Ok, delete it</button>
                              <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
