<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngIf="role ==='tester'">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Add Bug</h5>
                  <span class="h2 font-weight-bold mb-0">{{loadedBugs.length}}</span>
                </div>
                <div class="col-auto">
                  <a (click)="open(addBug, 'modal_mini', 'sm')" >
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-plus fa-align-center"></i>
                      <div class="col-md-4">
                        <ng-template #addBug let-modal let-c="close" let-d="dismiss" >
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <div class="card-body px-lg-5 py-lg-5">
                                  <div class="text-center text-muted mb-4">
                                    <small>Enter Bug's Info</small>
                                  </div>
                                  <form (ngSubmit)="onCreate(AddBugForm)" #AddBugForm="ngForm" >
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input
                                          class="form-control"
                                          placeholder="Name"
                                          type="text"
                                          ngModel
                                          name="name"
                                          required
                                          #name="ngModel">
                                      </div>
                                      <span class="text-sm" *ngIf="!name.valid && name.touched">Please enter Bug's name!</span>
                                    </div>
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-align-center"></i></span>
                                        </div>
                                        <input
                                          class="form-control"
                                          placeholder="Description"
                                          type="text"
                                          ngModel
                                          name="description"
                                          required
                                          #description="ngModel">
                                      </div>
                                      <span class="text-sm" *ngIf="!description.valid && description.touched">Please enter Bug's description!</span>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                        <select
                                          class="form-control selectpicker"
                                          data-style="btn btn-link"
                                          ngModel
                                          name="state"
                                          required
                                          type="number"
                                          #state="ngModel">
                                          <option value="" disabled selected hidden>Bug's State</option>
                                          <option [ngValue]="2">Active</option>
                                          <option [ngValue]="1">Fixed</option>
                                        </select>
                                      </div>
                                      <span class="text-sm" *ngIf="!state.valid && state.touched">Please select a State!</span>
                                    </div>
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-archive-2"></i></span>
                                        </div>
                                        <input
                                          class="form-control"
                                          placeholder="Version"
                                          type="text"
                                          ngModel
                                          name="version"
                                          required
                                          #version="ngModel">
                                      </div>
                                      <span class="text-sm" *ngIf="!version.valid && version.touched">Please enter Bug's Version!</span>
                                    </div>
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                        </div>
                                        <input
                                          class="form-control"
                                          placeholder="Fixing time"
                                          type="number"
                                          ngModel
                                          name="fixingTime"
                                          required
                                          #fixingTime="ngModel">
                                      </div>
                                      <span class="text-sm" *ngIf="!fixingTime.valid && fixingTime.touched">Please enter Bug's fixing time!</span>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                        <select
                                          class="form-control selectpicker"
                                          data-style="btn btn-link"
                                          ngModel
                                          name="projectId"
                                          required
                                          type="number"
                                          #state="ngModel">
                                          <option value="" disabled selected hidden>Project</option>
                                          <option *ngFor="let project of loadedProjects"[ngValue]="project.id">{{project.name}}</option>
                                        </select>
                                      </div>
                                      <span class="text-sm" *ngIf="loadedProjects.length == 0 && !isFetching">User has no projects assigned!</span>
                                      <span class="text-sm" *ngIf="loadedProjects.length > 0 && !state.valid && state.touched">Please select a Project!</span>
                                    </div>
                                    <div class="text-center">
                                      <button
                                        type="submit"
                                        class="btn btn-primary my-4"
                                        [disabled]="!AddBugForm.valid && !error">
                                        Add Bug
                                      </button>
                                    </div>
                                  </form>
                                  <div class="text-center">
                                    <div class="alert alert-danger" role="alert" *ngIf="error">
                                      {{error}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Bugs</h3>
            </div>
            <div class=" col col-lg-1">
              <a class="btn btn-sm btn-neutral"(click)="open(filterBugsList, 'modal_mini', 'sm')" >
                Filters
                  <div class="col-md-4">
                    <ng-template #filterBugsList let-modal let-c="close" let-d="dismiss" >
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                              <div class="text-center text-muted mb-4">
                                <small>Enter Bug's filters</small>
                              </div>
                              <form (ngSubmit)="getBugsFiltered(filterBugsListForm)" #filterBugsListForm="ngForm" >
                                <div class="form-group mb-3">
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-folder"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      placeholder="Id"
                                      type="number"
                                      ngModel
                                      name="id">
                                  </div>
                                </div>
                                <div class="form-group mb-3">
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input
                                      class="form-control"
                                      placeholder="Name"
                                      type="text"
                                      ngModel
                                      name="name">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group input-group-alternative">
                                    <select
                                      class="form-control selectpicker"
                                      data-style="btn btn-link"
                                      ngModel
                                      name="state"
                                      type="number">
                                      <option value="" disabled selected hidden>Bug's State</option>
                                      <option [ngValue]="2">Active</option>
                                      <option [ngValue]="1">Fixed</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group input-group-alternative">
                                    <select
                                      class="form-control selectpicker"
                                      data-style="btn btn-link"
                                      ngModel
                                      name="projectId"
                                      required
                                      type="number"
                                      #state="ngModel">
                                      <option value="" disabled selected hidden>Project</option>
                                      <option *ngFor="let project of loadedProjects"[ngValue]="project.id">{{project.name}}</option>
                                    </select>
                                  </div>
                                  <span class="text-sm" *ngIf="loadedProjects.length == 0 && !isFetching">User has no projects assigned!</span>
                                  <span class="text-sm" *ngIf="loadedProjects.length > 0 && !state.valid && state.touched">Please select a Project!</span>
                                </div>
                                <div class="text-center">
                                  <button
                                    type="submit"
                                    class="btn btn-primary my-4"
                                    [disabled]="!filterBugsListForm.valid && !error">
                                    Filter Bugs
                                  </button>
                                </div>
                              </form>
                              <div class="text-center">
                                <div class="alert alert-danger" role="alert" *ngIf="error">
                                  {{error}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
              </a>
            </div>
          </div>
        </div>
        <!--    TODO - Cambiar a un componente aparte que sea una tabla generica -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Bug</th>
              <th scope="col">State</th>
              <th scope="col">Project</th>
              <th scope="col">Fixing Time</th>
              <th scope="col" *ngIf="role === 'tester'">Delete</th>
              <th scope="col" *ngIf="role === 'developer'">Fix</th>
            </tr>
            </thead>
            <p *ngIf="!isFetching && loadedBugs.length == 0">
              There are not bugs currently on the system for this user. Please add a new one first.
            </p>
            <p *ngIf="isFetching && !error">
              Loading...
            </p>
            <tbody *ngIf="loadedBugs.length >= 1 && !isFetching">
            <tr *ngFor="let bug of loadedBugs">
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    class="icon rounded-circle"
                    routerLinkActive="active" [routerLink]="[bug.id]">
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ bug.name }}</span>
                  </div>
                </div>
              </th>
              <td>
                  <span *ngIf="bug.state == 1 " class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Fixed
                  </span>
                <span *ngIf="bug.state == 2" class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
              </td>
              <td>
                {{ bug.projectId }}
              </td>
              <td >
                {{ bug.fixingTime }}
              </td>
              <td *ngIf="role === 'tester'">
                <a class="icon rounded-circle" id="deleteIcon" (click)="open(classic2, 'Notification', '')" >
                  <i class="fas fas fa-minus-circle"></i>
                  <!--Confirmation-->
                  <div class="col-md-4">
                    <ng-template #classic2 let-c="close" let-d="dismiss">
                      <div class="modal-content bg-gradient-danger">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">You should read this!</h4>
                            <p>You are about to delete a bug permanently, please confirm this action</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDelete(bug.id)">Ok, delete it</button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </a>
              </td>
              <td *ngIf="role === 'developer'">
                <a (click)="open(fixBug, 'modal_mini', 'sm')" id="fixIcon" *ngIf="bug.state == 2">
                  <div class= "icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-settings ni-align-center"></i>
                    <div class="col-md-4">
                      <ng-template #fixBug let-modal let-c="close" let-d="dismiss" >
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                              <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                  <small>Enter Bug's fixing time</small>
                                </div>
                                <form (ngSubmit)="onFixBug(bug.id ,FixBugForm)" #FixBugForm="ngForm" >
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Fixing time"
                                        type="number"
                                        ngModel
                                        name="fixingTime"
                                        required
                                        #fixingTime="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!fixingTime.valid && fixingTime.touched">Please enter Bug's fixing time!</span>
                                  </div>
                                  <div class="text-center">
                                    <button
                                      type="submit"
                                      class="btn btn-primary my-4"
                                      [disabled]="!FixBugForm.valid && !error">
                                      Fix Bug
                                    </button>
                                  </div>
                                </form>
                                <div class="text-center">
                                  <div class="alert alert-danger" role="alert" *ngIf="error">
                                    {{error}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <div class="alert alert-success" role="alert" *ngIf="success">
              {{success}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
