<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
<!--      <div class="row">-->
<!--        <div class="col-xl-3 col-lg-6">-->
<!--          <div class="card card-stats mb-4 mb-xl-0">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <h5 class="card-title text-uppercase text-muted mb-0">Add Project</h5>-->
<!--                  <span class="h2 font-weight-bold mb-0">{{loadedProjects.length}}</span>-->
<!--                </div>-->
<!--                <div class="col-auto">-->
<!--                  <a (click)="open(classic1, 'modal_mini', 'sm')" >-->
<!--                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">-->
<!--                      <i class="fas fa-plus fa-align-center"></i>-->
<!--                      <div class="col-md-4">-->
<!--                        <ng-template #classic1 let-modal let-c="close" let-d="dismiss" >-->
<!--                          <div class="modal-content">-->
<!--                            <div class="modal-body p-0">-->
<!--                              <div class="card bg-secondary shadow border-0">-->
<!--                                <div class="card-body px-lg-5 py-lg-5">-->
<!--                                  <div class="text-center text-muted mb-4">-->
<!--                                    <small>Enter Project's name</small>-->
<!--                                  </div>-->
<!--                                  <form (ngSubmit)="onCreate(createProjectForm)" #createProjectForm="ngForm" >-->
<!--                                    <div class="form-group mb-3">-->
<!--                                      <div class="input-group input-group-alternative">-->
<!--                                        <div class="input-group-prepend">-->
<!--                                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>-->
<!--                                        </div>-->
<!--                                        <input-->
<!--                                          class="form-control"-->
<!--                                          placeholder="Name"-->
<!--                                          type="text"-->
<!--                                          ngModel-->
<!--                                          name="name"-->
<!--                                          required-->
<!--                                          #name="ngModel">-->
<!--                                      </div>-->
<!--                                      <span class="text-sm" *ngIf="!name.valid && name.touched">Please enter a project name!</span>-->
<!--                                    </div>-->
<!--                                    <div class="text-center">-->
<!--                                      <button-->
<!--                                        type="submit"-->
<!--                                        class="btn btn-primary my-4"-->
<!--                                        [disabled]="!createProjectForm.valid && !error">-->
<!--                                        Create Project-->
<!--                                      </button>-->
<!--                                    </div>-->
<!--                                  </form>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </ng-template>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Bugs</h3>
        </div>
        <!--    TODO - Cambiar a un componente aparte que sea una tabla generica -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Bug</th>
              <th scope="col">State</th>
              <th scope="col">Project</th>
              <th scope="col">Fixing Time</th>
            </tr>
            </thead>
            <p *ngIf="!isFetching && loadedBugs.length < 1">
              There are not bugs currently on the system. Please add a new one first.
            </p>
            <p *ngIf="isFetching && !error">
              Loading...
            </p>
            <div class="alert alert-danger" *ngIf="error">
              <h2 >An error Occurred getting Bugs!</h2>
              <p>{{error}}</p>
              <button class="btn btn-danger" (click)="onHandleError()">OK</button>
            </div>
            <tbody *ngIf="loadedBugs.length >= 1 && !isFetching">
            <tr *ngFor="let bug of loadedBugs">
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    class="icon rounded-circle"
                    routerLinkActive="active" [routerLink]="['/projects', bug.id]">
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ bug.name }}</span>
                  </div>
                </div>
              </th>
              <td>
                {{ bug.state }}
              </td>
              <td>
                  <span *ngIf="bug.state == 1 " class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Fixed
                  </span>
                <span *ngIf="bug.state == 2" class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
              </td>
              <td>
                <a class="icon rounded-circle" id="deleteIcon" (click)="open(classic2, 'Notification', '')" >
                  <i class="fas fas fa-minus-circle"></i>
                  <!--Confirmation-->
                  <div class="col-md-4">
                    <ng-template #classic2 let-c="close" let-d="dismiss">
                      <div class="modal-content bg-gradient-danger">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">You should read this!</h4>
                            <p>You are about to delete a bug permanently, please confirm this action</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDelete(bug.id)">Ok, delete it</button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
