
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../../assets/img/theme/computer_cover.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10" *ngIf="!isFetching && !error">
        <h1   class="display-2 text-white">{{project.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your project's page. Where you can manage your projects</p>
        <p class="text-white mt-0 mb-5">This project has a duration of: {{project.duration}} hours
           This project has a cost of: ${{project.cost}}</p>
        <form (ngSubmit)="onEditName()" #formEditNameProject="ngForm">
          <div class="input-group input-group-alternative">
            <input
              class="form-control"
              placeholder="New Name"
              name="name"
              type="text"
              ngModel
              required
              >
          </div>
          <button
            class="btn btn-info"
            type="submit"
            [disabled]="!formEditNameProject.valid && !error">
            Edit project
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Delete project</h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <a (click)="open(classic2, 'Notification', '')" >
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-minus fa-align-center"></i>
                  <!--Confirmation-->
                  <div class="col-md-4">
                    <ng-template #classic2 let-c="close" let-d="dismiss">
                      <div class="modal-content bg-gradient-danger">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">You should read this!</h4>
                            <p>You are about to delete a project permanently, please confirm this action</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDeleteProject(project.id)">Ok, delete it</button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Add User</h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <a (click)="open(addUser, 'modal_mini', 'sm')" >
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-plus fa-align-center"></i>
                    <div class="col-md-4">
                      <ng-template #addUser let-modal let-c="close" let-d="dismiss" >
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                              <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                  <small>Select user</small>
                                </div>
                                <form (ngSubmit)="onAddUser(AddUserForm)" #AddUserForm="ngForm" >
                                  <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                      <select
                                        class="form-control selectpicker"
                                        data-style="btn btn-link"
                                        ngModel
                                        name="userId"
                                        required
                                        type="number"
                                        #state="ngModel">
                                        <option value="" disabled selected hidden>User</option>
                                        <option *ngFor="let user of loadedUsers" [ngValue]="user.id">{{user.firstName}}</option>
                                      </select>
                                    </div>
                                    <span class="text-sm" *ngIf="loadedUsers.length == 0 && !isFetching">There are no users on the system!</span>
                                    <span class="text-sm" *ngIf="loadedUsers.length > 0 && !state.valid && state.touched">Please select a User!</span>
                                  </div>
                                  <div class="text-center">
                                    <button
                                      type="submit"
                                      class="btn btn-primary my-4"
                                      [disabled]="!AddUserForm.valid && !error">
                                      Add user to {{project.name}}
                                    </button>
                                  </div>
                                </form>
                                <div class="text-center">
                                  <div class="alert alert-danger" role="alert" *ngIf="error">
                                    {{error}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Add Bug</h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <a (click)="open(addBug, 'modal_mini', 'sm')" >
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-plus fa-align-center"></i>
                    <div class="col-md-4">
                      <ng-template #addBug let-modal let-c="close" let-d="dismiss" >
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                              <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                  <small>Enter bug's info</small>
                                </div>
                                <form (ngSubmit)="onAddBug(AddBugForm)" #AddBugForm="ngForm" >
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Name"
                                        type="text"
                                        ngModel
                                        name="name"
                                        required
                                        #name="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!name.valid && name.touched">Please enter bug's name!</span>
                                  </div>
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-align-center"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Description"
                                        type="text"
                                        ngModel
                                        name="description"
                                        required
                                        #description="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!description.valid && description.touched">Please enter bug's description!</span>
                                  </div>
                                  <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                      <select
                                        class="form-control selectpicker"
                                        data-style="btn btn-link"
                                        ngModel
                                        name="state"
                                        required
                                        type="number"
                                        #state="ngModel"
                                        (change)="onStateSelectionChanged($event.target.value)">
                                        <option value="" disabled selected hidden>Bug's State</option>
                                        <option [ngValue]="2">Active</option>
                                        <option [ngValue]="1">Fixed</option>
                                      </select>
                                    </div>
                                    <span class="text-sm" *ngIf="!state.valid && state.touched">Please select a state!</span>
                                  </div>
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-archive-2"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Version"
                                        type="text"
                                        ngModel
                                        name="version"
                                        required
                                        #version="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!version.valid && version.touched">Please enter bug's version!</span>
                                  </div>
                                  <div *ngIf="bugState != 1" class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-clock"></i>
                                        </span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Fixing time"
                                        type="number"
                                        ngModel
                                        name="fixingTime"
                                        required
                                        #fixingTime="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!fixingTime.valid && fixingTime.touched">Please enter bug's fixing time!</span>
                                  </div>
                                  <div class="text-center">
                                    <button
                                      type="submit"
                                      class="btn btn-primary my-4"
                                      [disabled]="!AddBugForm.valid && !error">
                                      Add bug to {{project.name}}
                                    </button>
                                  </div>
                                </form>
                                <div class="text-center">
                                  <div class="alert alert-danger" role="alert" *ngIf="error">
                                    {{error}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </a>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-7">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Add Assignment</h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <a (click)="open(addAssignment, 'modal_mini', 'sm')" >
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-plus fa-align-center"></i>
                    <div class="col-md-4">
                      <ng-template #addAssignment let-modal let-c="close" let-d="dismiss" >
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                              <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                  <small>Enter Assignment's info</small>
                                </div>
                                <form  (ngSubmit)="onAddAssignment(createAssignmentForm)" #createAssignmentForm="ngForm" >
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Name"
                                        type="text"
                                        ngModel
                                        name="name"
                                        required
                                        #name="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!name.valid && name.touched">Please enter a assignment name!</span>
                                  </div>
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-align-center"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Duration"
                                        type="number"
                                        ngModel
                                        name="duration"
                                        required
                                        #duration="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!duration.valid && duration.touched">Please enter assignment's duration!</span>
                                  </div>
                                  <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                      </div>
                                      <input
                                        class="form-control"
                                        placeholder="Hourly Rate"
                                        type="number"
                                        ngModel
                                        name="HourlyRate"
                                        required
                                        #hourlyRate="ngModel">
                                    </div>
                                    <span class="text-sm" *ngIf="!hourlyRate.valid && hourlyRate.touched">Please enter assignment's hourly rate!</span>
                                  </div>
                                  <div class="text-center">
                                    <button
                                      type="submit"
                                      class="btn btn-primary my-4"
                                      *ngIf="!error && !successAssignment"
                                      [disabled]="!createAssignmentForm.valid && !error">
                                      Add Assignment to {{project.name}}
                                    </button>
                                    <button
                                      type="button"
                                      class="close"
                                      data-dismiss="modal"
                                      aria-label="Close"
                                      (click)="d('Cross click')"
                                      *ngIf="successAssignment || error">
                                      <span aria-hidden="true">×</span>
                                    </button>
                                  </div>
                                  <div class="text-center">
                                    <div class="alert alert-danger" role="alert" *ngIf="error">
                                      {{error}}
                                    </div>
                                  </div>
                                  <div class="text-center">
                                    <div class="alert alert-success" role="alert" *ngIf="successAssignment">
                                      {{successAssignment}}
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col align-items-center">
      <div class="card bg-secondary shadow">
        <!-- Assignments -->
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Assignments</h3>
            </div>
          </div>
        </div>
        <div class="text-center">
          <div class="alert alert-success" role="alert" *ngIf="successAssignment">
            {{successAssignment}}
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Duration</th>
              <th scope="col">HourlyRate</th>
            </tr>
            </thead>
            <p *ngIf="isFetching && !error">
              Loading...
            </p>
            <tbody *ngIf="!isFetching && project.assignments.length >=1">
              <tr *ngFor="let assignment of project.assignments">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ assignment.name }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ assignment.duration }}
                </td>
                <td>
                  ${{ assignment.hourlyRate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    <app-bugs-table [project] = 'project'></app-bugs-table>
  </div>

  <div class="row align-items-center" id="rowUserTable">
    <div class="col align-items-center">
      <div class="card bg-secondary shadow">
        <!-- Users -->
        <div class="card-header bg-white border-0">
          <div class="row align-items-center" >
            <div class="col-8">
              <h3 class="mb-0">Users</h3>
            </div>
          </div>
        </div>
        <div class="text-center">
          <div class="alert alert-success" role="alert" *ngIf="successUser">
            {{successUser}}
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Users</th>
              <th scope="col">Role</th>
              <th scope="col">Hourly rate</th>
              <th scope="col">Fixed bug count</th>
              <th scope="col">Disassociate</th>
            </tr>
            </thead>
            <p *ngIf="isFetching && !error">
              Loading...
            </p>
            <tbody *ngIf="!isFetching && project.users.length >=1">
              <tr *ngFor="let user of project.users">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ user.firstName }}</span>
                  </div>
                </div>
              </th>
              <td>
                {{ user.role }}
              </td>
              <td>
                ${{ user.hourlyRate }}
              </td>
              <td>
                {{ user.fixedBugCount }}
              </td>
              <td class="text-right">
                <a class="icon rounded-circle" id="deleteIcon" (click)="open(classic2, 'Notification', '')">
                  <i class="fas fas fa-minus-circle"></i>
                  <div class="col-md-4">
                    <ng-template #classic2 let-c="close" let-d="dismiss">
                      <div class="modal-content bg-gradient-danger">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">You should read this!</h4>
                            <p>You are about to delete a user permanently, please confirm this action</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal" (click)="onDeleteUser(project.id, user.id)">Ok, delete it</button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
